.header__lang-link {
  margin: 0 0 0 auto;
  position: relative;
  right: 0;
  top: 14px;
  max-width: 22px;
  max-height: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  color: #FFFFFF;
  text-decoration: none;
}
.header__lang-link_active {
  text-decoration: underline;
}
.header__lang-link:last-child {
  margin-left: 18px;
}
.header__lang-link:hover {
  text-decoration: underline;
  opacity: 0.8;
  transition: opacity 1s linear;
}
@media screen and (min-width: 768px) {
.header__lang-link {
  top: 18px;
  max-width: 30px;
  max-height: 28px;
  font-size: 24px;
  line-height: 117%;
  }
}