.photo-grid {
  margin: 0 16px 64px;
  display: grid;
  justify-items: center;
  gap: 12px;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 768px) {
  .photo-grid {
    margin: 0 24px 88px;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    margin: 0 48px 92px;
    gap: 14px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
}
