.header {
  padding: 16px 16px 48px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 28px 24px 48px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 28px 48px 48px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 56px;
  }
}
