.footer__links {
  margin: 0 0 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .footer__links {
    margin: 0;
    flex-direction: row;
    gap: 18px;
  }
}
