.place__paragraph {
  margin: 0 16px 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    margin: 0 0 25px;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    margin: 0 0 26px;
    font-size: 18px;
  }
}
