.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    margin: 0 0 0 auto;
    align-self: center;
    text-align: right;
    line-height: 114%;
  }
}
