.intro {
  margin: 64px 16px;
}

@media screen and (min-width: 768px) {
  .intro {
    margin: 88px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    margin: 92px 286px 92px 48px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    margin: 92px 442px 92px 148px;
  }
}
