.cover {
  margin: 66px 0 0;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.cover:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
}

.cover:hover:before {
  opacity: 0.8;
  transition: opacity 1s linear;
}

@media screen and (min-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    margin: 92px auto 0;
    width: calc(100% - 2 * 48px);
  }
}
