.cover__title {
  margin: 33px 0 16px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 109%;
}

@media screen and (min-width: 768px) {
  .cover__title {
    margin: 115px 0 32px;
    font-size: 72px;
    line-height: 106%;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    margin: 195px 232px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .cover__title {
    margin-top: 245px;
  }
}
